@{
    ViewBag.Title = "Role Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Profile/Index");
    }
}

@section stylesheet
{
    <link rel="stylesheet" href="~/Static/css/sidenavfixed.css" />
}

@section sidenav {
    @{Html.RenderPartial("_SideNav");}
}

@section scripts {
    <script src="~/Static/js/roleMaintenance.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var message = @((TempData["Message"] != null).ToString().ToLower());
            if (message == true) {
                M.toast({ html: '@TempData["Message"]' })
            }
        });
    </script>
}

<div class="row">
    <h5>@ViewData["Title"]</h5>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="input-field col s12 m6">
            <select name="selectRole" class="wrapper">
                <option value="" selected>All</option>
                @foreach (var role in Model?.rolesList)
                {
                    <option value="@role.roleID">@role.roleName</option>
                }
            </select>
            <label>Role</label>
        </div>
    </div>

    <div class="show-on-medium-and-up hide-on-med-and-down show-on-medium">
        <div class="row">
            <button class="waves-effect waves-light btn-small purple " formaction="@Url.Action("QueryRole", "RoleMaintenance")" formmethod="post">
                <i class="material-icons right">search</i>
                Query
            </button>
            <button class="waves-effect waves-light btn-small green " formaction="@Url.Action("AddRole", "RoleMaintenance")" formmethod="get">
                <i class="material-icons right">add</i>
                Add
            </button>
            <button class="waves-effect waves-light btn-small yellow darken-2 " formaction="@Url.Action("ModifyRole", "RoleMaintenance")" formmethod="post">
                <i class="material-icons right">mode_edit</i>
                Modify
            </button>
            <button class="waves-effect waves-light btn-small blue " formaction="@Url.Action("MenuRole", "RoleMaintenance")" formmethod="post">
                <i class="material-icons right">menu</i>
                Menu
            </button>
            <button class="waves-effect waves-light btn-small orange " onclick="return confirm('Are you sure you want to delete?')" formaction="@Url.Action("DeleteRole", "RoleMaintenance")" formmethod="post">
                <i class="material-icons right">delete</i>
                Delete
            </button>
            <input hidden id="JSON" name="JSON" />
            <button class="waves-effect waves-light btn-small red " OnClick="GetTableValues()" formaction="@Url.Action("Submit", "Export")" formmethod="post">
                <i class="material-icons right">file_download</i>
                Download
            </button>
        </div>
    </div>

    <div class="hide-on-med-and-up hide-on-med-only">
        <div class="row">
            <div class="col">
                <button class="waves-effect waves-light btn-floating purple tooltipped" data-position="bottom" data-tooltip="Query" formaction="@Url.Action("QueryRole", "RoleMaintenance")" formmethod="post">
                    <i class="material-icons right">search</i>
                    Query
                </button>
            </div>
            <div class="col">
                <button class="waves-effect waves-light btn-floating green tooltipped" data-position="bottom" data-tooltip="Add" formaction="@Url.Action("AddRole", "RoleMaintenance")" formmethod="get">
                    <i class="material-icons right">add</i>
                    Add
                </button>
            </div>
            <div class="col">
                <button class="waves-effect waves-light btn-floating yellow darken-2 tooltipped" data-position="bottom" data-tooltip="Modify" formaction="@Url.Action("ModifyRole", "RoleMaintenance")" formmethod="post">
                    <i class="material-icons right">mode_edit</i>
                    Modify
                </button>
            </div>
            <div class="col">
                <button class="waves-effect waves-light btn-floating blue tooltipped" data-position="bottom" data-tooltip="Menu" formaction="@Url.Action("MenuRole", "RoleMaintenance")" formmethod="post">
                    <i class="material-icons right">menu</i>
                    Menu
                </button>
            </div>
            <div class="col">
                <button class="waves-effect waves-light btn-floating orange tooltipped" data-position="bottom" data-tooltip="Delete" onclick="return confirm('Are you sure you want to delete?')" formaction="@Url.Action("DeleteRole", "RoleMaintenance")" formmethod="post">
                    <i class="material-icons right">delete</i>
                    Delete
                </button>
            </div>
            <div class="col">
                <input hidden id="JSON" name="JSON" />
                <button class="waves-effect waves-light btn-floating red tooltipped" data-position="bottom" data-tooltip="Download" OnClick="GetTableValues()" formaction="@Url.Action("Submit", "Export")" formmethod="post">
                    <i class="material-icons right">file_download</i>
                    Download
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <table id="sortableTable" name="table" class="tablesorter highlight responsive-table">
            <thead>
                <tr>
                    <th class="sorter-false">
                        <label>
                            <input type="checkbox" class="filled-in" onClick="toggle(this)" />
                            <span></span>
                        </label>
                    </th>
                    <th>Role</th>
                    <th>Role Description</th>
                    <th>Status</th>
                    <th>Create Date</th>
                    <th>Create User</th>
                    <th>Modify Date</th>
                    <th>Modify User</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model?.rolesTableList)
                {
                    <tr>
                        <td>
                            <label>
                                <input value="@item.roleID" type="checkbox" class="filled-in" name="checkbox" />
                                <span></span>
                            </label>
                        </td>

                        <td>@item.roleName</td>
                        <td>@item.description</td>

                        @if (@item.status == true)
                        {
                            <td>Y</td>
                        }
                        else
                        {
                            <td>N</td>
                        }

                        <td>@item.createDate.ToString()</td>
                        <td>@item.createUser</td>
                        <td>@item.modifyDate.ToString()</td>
                        <td>@item.modifyUser</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
