
@{
    ViewBag.Title = "Menu Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Profile/Index");
    }
}

@section stylesheet
{
    <link rel="stylesheet" href="~/Static/css/sidenavfixed.css" />
}

@section header {
    @{Html.RenderPartial("_NavBar");}
}

@section sidenav {
    @{Html.RenderPartial("_SideNav");}
}

<div class="row">
    <h5>@ViewData["Title"]</h5>
</div>

<div>@TempData["Message"]</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="input-field col s6">
            <select name="selectMenu" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                @foreach (var menu in Model?.menuList)
                {
                    <option value="@menu.menuID">@menu.menuNo</option>
                }
            </select>
            <label>Menu No</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <select name="selectTitle" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                @foreach (var menu in Model?.menuList)
                {
                    <option value="@menu.title">@menu.title</option>
                }
            </select>
            <label>Title</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
            <select name="selectLinkType" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                <option value="Menu">Menu</option>
                <option value="Program">Program</option>
            </select>
            <label>Link Type</label>
        </div>

        <div class="input-field col s3">
            <select name="selectStatus" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Y</option>
                <option value="0">N</option>
            </select>
            <label>Status</label>
        </div>
    </div>


    <div class="row">
        <table class="highlight">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="filled-in" onClick="toggle(this)" />
                            <span></span>
                        </label>
                    </th>
                    <th>Menu No</th>
                    <th>Level</th>
                    <th>Title</th>
                    <th>Link Type</th>
                    <th>Link URL</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model?.menuTableList)
                {
                    <tr>
                        <td>
                            <label>
                                <input value="@item.menuID" type="checkbox" class="filled-in" name="checkbox" />
                                <span></span>
                            </label>
                        </td>

                        <td>@item.menuNo</td>
                        <td>@item.level</td>
                        <td>@item.title</td>
                        <td>@item.linkType</td>
                        <td>@item.linkUrl</td>

                        @if (@item.status == true)
                        {
                            <td>Y</td>
                        }
                        else
                        {
                            <td>N</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red pulse ">
            <i class="large material-icons">edit</i>
        </a>
        <ul>
            <li>
                <button class="btn-floating red tooltipped" data-position="left" data-tooltip="Query" formaction="QueryMenu" formmethod="post">
                    <i class="material-icons">search</i>
                    Query
                </button>
            </li>
            <li>
                <button class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Add" formaction="AddMenu" formmethod="get">
                    <i class="material-icons">add</i>
                    Add
                </button>
            </li>
            <li>
                <button class="btn-floating yellow tooltipped" data-position="left" data-tooltip="Modify" formaction="ModifyMenu" formmethod="post">
                    <i class="material-icons">mode_edit</i>
                    Modify
                </button>
            </li>
            <li>
                <button class="btn-floating blue tooltipped" onclick="return confirm('Are you sure you want to delete?')" data-position="left" data-tooltip="Delete" formaction="DeleteMenu" formmethod="post">
                    <i class="material-icons">delete</i>
                    Delete
                </button>
            </li>
        </ul>
    </div>
}