@model Homework2.Models.Role

@{
    ViewBag.Title = "Role Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if(Session["userID"] == null)
    {
        Response.Redirect("~/Profile/Index");
    }
}

@section stylesheet
{
    <link rel="stylesheet" href="~/Static/css/sidenavfixed.css" />
}

@section header {
    @{Html.RenderPartial("_NavBar");}
}

@section sidenav {
    @{Html.RenderPartial("_SideNav");}
}

<div class="row">
    <h5>@ViewData["Title"]</h5>
</div>

<div>@TempData["Message"]</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="input-field col s6">
            <select name="selectRole" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                @foreach (var role in Model?.rolesList)
                {
                    <option value="@role.roleID">@role.roleName</option>
                }
            </select>
            <label>Role</label>
        </div>
    </div>

    <div class="row">
        <table class="highlight">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="filled-in" onClick="toggle(this)" />
                            <span></span>
                        </label>
                    </th>
                    <th>Role</th>
                    <th>Role Description</th>
                    <th>Status</th>
                    <th>Create Date</th>
                    <th>Create User</th>
                    <th>Modify Date</th>
                    <th>Modify User</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model?.rolesTableList)
                {
                    <tr>
                        <td>
                            <label>
                                <input value="@item.roleID" type="checkbox" class="filled-in" name="checkbox" />
                                <span></span>
                            </label>
                        </td>

                        <td>@item.roleName</td>
                        <td>@item.description</td>

                        @if (@item.status == true)
                        {
                            <td>Y</td>
                        }
                        else
                        {
                            <td>N</td>
                        }

                        <td>@item.createDate.ToString()</td>
                        <td>@item.createUser</td>
                        <td>@item.modifyDate.ToString()</td>
                        <td>@item.modifyUser</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red pulse ">
            <i class="large material-icons">edit</i>
        </a>
        <ul>
            <li>
                <button class="btn-floating red tooltipped" data-position="left" data-tooltip="Query" formaction="QueryRole" formmethod="post">
                    <i class="material-icons">search</i>
                    Query
                </button>
            </li>
            <li>
                <button class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Add" formaction="AddRole" formmethod="get">
                    <i class="material-icons">add</i>
                    Add
                </button>
            </li>
            <li>
                <button class="btn-floating yellow tooltipped" data-position="left" data-tooltip="Modify" formaction="ModifyRole" formmethod="post">
                    <i class="material-icons">mode_edit</i>
                    Modify
                </button>
            </li>
            <li>
                <button class="btn-floating yellow tooltipped" data-position="left" data-tooltip="Menu" formaction="MenuRole" formmethod="get" >
                    <i class="material-icons">menu</i>
                    Menu
                </button>
            </li>
            <li>
                <button class="btn-floating blue tooltipped" onclick="return confirm('Are you sure you want to delete?')" data-position="left" data-tooltip="Delete" formaction="DeleteRole" formmethod="post">
                    <i class="material-icons">delete</i>
                    Delete
                </button>
            </li>
        </ul>
    </div>
}
