
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Homework2</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="~/Static/css/site.css" />
    @RenderSection("stylesheet", required: false)
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
    <header>
        <nav class="green darken-3">
            <div class="nav-wrapper">
                <div class="container">
                    @if (Session["mainMenu"] != null)
                    {
                        <a class="top-nav sidenav-trigger full hide-on-large-only" data-target="nav-mobile">
                            <i class="material-icons">menu</i>
                        </a>
                    }
                    @RenderSection("navBar", required: false)
                </div>
            </div>
        </nav>

        @RenderSection("sidenav", required: false)
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer green darken-3">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright
            </div>
        </div>
    </footer>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/Static/js/site.js" asp-append-version="true"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
