@{
    ViewBag.Title = "Menu Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Profile/Index");
    }
}

@section stylesheet
{
    <link rel="stylesheet" href="~/Static/css/sidenavfixed.css" />
}

@section sidenav {
    @{Html.RenderPartial("_SideNav");}
}

<div class="row">
    <h5>@ViewData["Title"]</h5>
</div>

<div>@TempData["Message"]</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="input-field col s6">
            <select name="selectMenu" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                @foreach (var menu in Model?.menuList)
                {
                    <option value="@menu.menuID">@menu.menuNo</option>
                }
            </select>
            <label>Menu No</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <select name="selectTitle" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                @foreach (var menu in Model?.menuList)
                {
                    <option value="@menu.title">@menu.title</option>
                }
            </select>
            <label>Title</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
            <select name="selectLinkType" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                <option value="Menu">Menu</option>
                <option value="Program">Program</option>
            </select>
            <label>Link Type</label>
        </div>

        <div class="input-field col s3">
            <select name="selectStatus" class="wrapper">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Y</option>
                <option value="0">N</option>
            </select>
            <label>Status</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="waves-effect waves-light btn-small purple " formaction="@Url.Action("QueryMenu", "MenuMaintenance")" formmethod="post">
                <i class="material-icons right">search</i>
                Query
            </button>
        </div>
        <div class="col">
            <button class="waves-effect waves-light btn-small green " formaction="@Url.Action("AddMenu", "MenuMaintenance")" formmethod="get">
                <i class="material-icons right">add</i>
                Add
            </button>
        </div>
        <div class="col">
            <button class="waves-effect waves-light btn-small yellow darken-2 " formaction="@Url.Action("ModifyMenu", "MenuMaintenance")" formmethod="post">
                <i class="material-icons right">mode_edit</i>
                Modify
            </button>
        </div>
        <div class="col">
            <button class="waves-effect waves-light btn-small orange " onclick="return confirm('Are you sure you want to delete?')" formaction="@Url.Action("DeleteMenu", "MenuMaintenance")" formmethod="post">
                <i class="material-icons right">delete</i>
                Delete
            </button>
        </div>
        <div class="col">
            <input hidden id="JSON" name="JSON" />
            <button class="waves-effect waves-light btn-small red " OnClick="GetTableValues()" formaction="@Url.Action("Submit", "Export")" formmethod="post">
                <i class="material-icons right">file_download</i>
                Download
            </button>
        </div>
    </div>

    <div class="row">
        <table name="table" class="highlight">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="filled-in" onClick="toggle(this)" />
                            <span></span>
                        </label>
                    </th>
                    <th>Menu No</th>
                    <th>Level</th>
                    <th>Title</th>
                    <th>Link Type</th>
                    <th>Link URL</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model?.menuTableList)
                {
                    <tr>
                        <td>
                            <label>
                                <input value="@item.menuID" type="checkbox" class="filled-in" name="checkbox" />
                                <span></span>
                            </label>
                        </td>

                        <td>@item.menuNo</td>
                        <td>@item.level</td>
                        <td>@item.title</td>
                        <td>@item.linkType</td>
                        <td>@item.linkUrl</td>

                        @if (@item.status == true)
                        {
                            <td>Y</td>
                        }
                        else
                        {
                            <td>N</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
